body{

    background-image: linear-gradient(-20deg, #616161 0%, #9bc5c3 100%);
}

.menu{
  
    list-style: none;
    padding: 0;
    width: 90%;
    max-width: 1000px;
    margin: auto;
    text-align: center;
}


.menu li{
    display: inline-block;
    text-align: center;

}

.menu li a:hover{
    background: #9bc5c3;
}

.menu a {
    color: var(--text-color);
    font-size: 18px;
    font-weight: 500;
    line-height: 50px;
    text-transform: uppercase;
    position: relative;
  }
 
